<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href={{ path('program_index') }}>Wild séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("category_index")}}">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}">Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes favoris</a>
            </li>
        </ul>
    </div>
    <div class="text-light mr-2">
        {% if app.user %}
        {{ app.user.email }}
    </div>

        <a href="{{ path('app_logout') }}" class="btn btn-secondary"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-secondary"> Se connecter</a>
    {% endif %}
</nav>