{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'category.add-category'|trans }}</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' value='{{ 'button.add'|trans }}'>
            {{ form_end(form) }}
        </div>


    <a href="{{ path('app_index') }}">
        {{ 'nav.backhome'|trans }}
    </a>
{% endblock %}
