{% extends "base.html.twig" %}

{% block title %}{{ 'category.category'|trans }} {{ category.name }}{% endblock %}

{% block body %}

    <h1> {{ 'category.category'|trans }} {{ category.name }} - {{ 'program.last-programs'|trans }} </h1>

    {% for program in programs %}
        <div>
            <h2> {{ program.id }} - {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'button.seeprogram'|trans }}</a>
        </div>
    {% else %}
        {{ 'notfound.program'|trans }}
    {% endfor %}

    <a href="{{ path('category_index') }}">
        {{ 'nav.category-list'|trans }}
    </a>
{% endblock %}
