{% extends 'base.html.twig' %}

{% block title %}Wild Series | Tous les épisodes{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Tous les épisodes</h1>

    <div class="text-center my-5">
        <a href="{{ path('episode_new') }}" class="btn btn-primary">Ajouter un nouvel épisode</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td><a href="{{ path('episode_show', {'slug': episode.slug}) }}" class="btn-sm btn-primary">Voir</a></td>
                <td><a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn-sm btn-primary">Modifier</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
