{% extends 'base.html.twig' %}

{% block title %}Wild Series | {{ 'title.all-episodes'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ 'title.all-episodes'|trans }}</h1>

    <div class="text-center my-5">
        <a href="{{ path('episode_new') }}" class="btn btn-primary">{{ 'episode.new'|trans }}</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'col.id'|trans }}</th>
                <th>{{ 'col.title'|trans }}</th>
                <th>{{ 'col.number'|trans }}</th>
                <th>{{ 'col.synopsis'|trans }}</th>
                <th colspan="2" class="text-center">{{ 'col.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td><a href="{{ path('episode_show', {'slug': episode.slug}) }}" class="btn-sm btn-primary">{{ 'see.see'|trans }}</a></td>
                <td><a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn-sm btn-primary">{{ 'edit.edit'|trans }} </a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'notfound.episodes'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
