{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ episode.seasonId.programId.title}} - {{ 'season.season'|trans }} {{ episode.seasonId.number }} -  {{ 'episode.episode'|trans }} {{ episode.number }}</h1>

    <div class="container">

        <div class="d-flex justify-content-around my-5">
            <a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn btn-primary">{{ 'edit.edit'|trans }}</a>
            {{ include('episode/_delete_form.html.twig') }}
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'col.id'|trans }}</th>
                    <td>{{ episode.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'col.title'|trans }}</th>
                    <td>{{ episode.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'col.number'|trans }}</th>
                    <td>{{ episode.number }}</td>
                </tr>
                <tr>
                    <th>{{ 'col.synopsis'|trans }}</th>
                    <td>{{ episode.synopsis }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('episode_index') }}" class="btn-primary btn my-5">{{ 'nav.episode-list'|trans }}</a>
    </div>
{% endblock %}
