{% extends 'base.html.twig' %}

{% block title %}Wild Series | {{ 'title.all-seasons'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ 'title.all-seasons'|trans }}</h1>

    <div class="text-center my-5">
        <a href="{{ path('season_new') }}" class="btn btn-primary">{{ 'season.new'|trans }}</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'col.id'|trans }}</th>
                <th>{{ 'col.number'|trans }}</th>
                <th>{{ 'col.year'|trans }}</th>
                <th>{{ 'col.description'|trans }}</th>
                <th colspan="2" class="text-center">{{ 'col.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td><a href="{{ path('season_show', {'id': season.id}) }}" class="btn-sm btn-primary">{{ 'see.see'|trans }}</a></td>
                <td><a href="{{ path('season_edit', {'id': season.id}) }}" class="btn-sm btn-primary">{{ 'edit.edit'|trans }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'notfound.seasons'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
