{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'title.all-actors'|trans }} </h1>
    <a class="my-5" href="{{ path('app_index') }}" >
        {{ 'nav.backhome'|trans }}
    </a>

    {% for actor in actors %}
        <div>
            <a href="{{ path('actor_show', { id: actor.id} ) }}"><h2> {{ actor.name }} </h2></a>
        </div>
    {% else %}
        {{ 'notfound.actor'|trans }}
    {% endfor %}



{% endblock %}
