{% extends 'base.html.twig' %}

{% block title %}{{ 'title.all-actors'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ 'title.all-actors'|trans }}</h1>

    <div class="text-center my-5">
        <a href="{{ path('actor_new') }}" class="btn btn-primary">{{ 'actor.new'|trans }}</a>
    </div>

    <div class="container">
        <table class="table">

            <tbody>
            {% for actor in actors %}
                <tr>
                    <td>{{ actor.name }}</td>
                    <td>
                        <a href="{{ path('actor_show', {'id': actor.id}) }}" class="btn-sm btn-primary">{{ 'see.see'|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ path('actor_edit', {'id': actor.id}) }}" class="btn-sm btn-primary">{{ 'edit.edit'|trans }} </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun acteur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
