{% extends 'base.html.twig' %}

{% block title %}{{ 'actor.actor'|trans }}{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center mt-5"> {{ actor.name }}</h1>

        <div class="d-flex justify-content-center m-5">
            <img class="actor-show-picture" src="/uploads/{{ actor.picture }}" alt="{{ actor.name }} picture">
        </div>

        <p> {{ actor.biography }}</p>

        <h3 class="mt-4">{{ 'program.programs'|trans }} :</h3>
        <ul>
            {% for program in actor.programs %}
                <li><a href="{{ path('program_show', { slug: program.slug} ) }}">{{ program.title }}</a> </li>
            {% else %}
                <li>{{ 'notfound.actor-program'|trans }}</li>
            {% endfor %}
        </ul>

        <a href="{{ path('program_index') }}" class="btn btn-primary my-5">
            {{ 'nav.program-list'|trans }}
        </a>
    </div>

{% endblock %}
