{% extends "base.html.twig" %}

{% block title %}{{ 'actor.actor'|trans }} {% endblock %}

{% block body %}

    <h1> {{ 'actor.actor'|trans }} : {{ actor.name }}</h1>
    <div>
        <strong>{{ 'program.programs'|trans }} :</strong>
        <ul>
            {% for program in actor.programs %}
                <li><a href="{{ path('program_show', { slug: program.slug} ) }}">{{ program.title }}</a> </li>
            {% else %}
                <li>{{ 'notfound.actor-program'|trans }}</li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('program_index') }}">
        {{ 'nav.program-list'|trans }}
    </a>
{% endblock %}
