{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.edit'|trans }} {{ program.title }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.edit'|trans }} {{ program.title }}</h1>

    {{ include('programs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('program_index') }}">{{ 'nav.program-list'|trans }}</a>

{#
    {{ include('program/_comment_delete_form.html.twig') }}
#}
{% endblock %}
