{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center mt-5">Toutes les séries</h1>

    <div class="container w-50 my-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn-primary">Recherche</button>
        </div>
        {{ form_end(form) }}
    </div>


    <div class="container my-5">
        <div class="row">
            {% for program in programs %}
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="card my-2 mx-1">
                        <img class="card-img-top poster-thumbnail p-0" src="{{ program.poster }}" alt="{{ program.title }} poster">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 class="card-title d-inline">{{ program.title }}</h2>
                                {% if app.user %}
                                        <i class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart fa-xs watchlist"></i>
                                {% endif %}
                            </div>

                            <p class="card-subtitle font-weight-bold">{{ program.category.name }}</p>
                            <p class="card-text synopsis">{{ program.summary }}</p>
                        </div>
                            <div class="text-center card-footer">
                                <a class="btn-primary btn " href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
                            </div>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>

    <div class="my-5 text-center">
        <a href="{{ path("program_new")}}" class="btn btn-primary">Ajouter une série</a>
    </div>

{#    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>#}
{% endblock %}
