{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center mt-5"> {{ 'index.welcome'|trans }} {{ website }}</h1>

    <div class="container my-5">
        <div class="row">
            {% for program in programs %}
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="card my-2 mx-1">
                        <img class="card-img-top poster-thumbnail p-0" src="/uploads/{{ program.poster }}" alt="{{ program.title }} poster">
                        <div class="card-body">
                            <h2 class="card-title d-block">{{ program.title }}</h2>
                            <p class="card-subtitle font-weight-bold">{{ program.category.name }}</p>
                            <p class="card-text synopsis">{{ program.summary }}</p>
                        </div>
                        <div class="text-center card-footer">
                            <a class="btn-primary btn " href="{{ path("program_show", { slug: program.slug }) }}">{{ 'button.seeprogram'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ 'notfound.program'|trans }}
            {% endfor %}
        </div>
    </div>
{% endblock %}